body { 
background: url(/images/girl3.jpg);
background-repeat: no-repeat;// 设定背景图片非重复填充
background-attachment: fixed;// 设置背景图片不随页面滚动
background-position: 50% 50%;// 设置背景图片位置
background-size: cover//
}

.content-wrap {
  opacity: 0.8;
}


.main-inner { 
   // margin-top: 60px;
   // padding: 60px 60px 60px 60px;

    //opacity: 0.8;
}

.sidebar-inner {
  background: rgba(255,255,255,0.8) none repeat scroll !important;
}


.header-inner {
  background: rgba(255,255,255,0.8);
}

.popup {
  opacity: 0.8;
}

.post-block {
	background: rgba(255,255,255,0.8) none repeat scroll !important;
}



* {
  cursor: url(/images/xy1.ico),auto!important;
}
:active { 
  cursor: url(/images/xy2.ico),auto!important;
}
